.container {
    display: flex;
}

.posts {
    min-width: 15rem;
}

.comments {
    width: 100%;
}
.container * {
    padding: 0.3rem 0.6rem;
}
.posts .header {
    background-color: lightblue;
}
.posts .data {
    background-color: lightcoral;
}
.comments .header {
    background-color: lightgreen;
}
.comments .data {
    background-color: lightcyan;
}
ul {
    margin: 0;
    list-style: none;
}
ul li {
   border-bottom: 1px solid #ccc;
   cursor: pointer;
}
